body {
    background-color: rgba(151, 175, 175, 0.425);
}

.menu-items {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    clear: both;
    font-size: 1em;
}

.menu-item {
    border: 3px dotted black;
    width: 49%;
    height: 400px;
    margin-bottom: 5px;
    padding: 30px;
    overflow: hidden;
}

.menu-item img {
    height: 75%;
    width: 75%;
    max-height: 350px;
    max-width: 350px;
    float: right;
    display: block;
    margin-left: 10px;
    border-radius: 15px;
    border-style: outset;
    border-color: black;
}

.menu-item h3 {
    text-decoration: underline;
    text-align: center;
}
 
.menu-item h3, p {
    padding-right: 5px;
}
 

